.gradle/
build/
**/build/
.idea/
*.iml
local.properties
.DS_Store
Thumbs.db
.kotlin/
captures/
*.log
*.jks
*.keystore
.externalNativeBuild/
.cxx/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
