<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".standalone.FeatureArticleStandaloneApplication"
        android:allowBackup="true"
        android:label="@string/article_str_module_name"
        android:supportsRtl="true"
        android:theme="@style/article_Theme.Standalone">
        <activity
            android:name=".standalone.FeatureArticleDebugActivity"
            android:exported="true"
            android:theme="@style/article_Theme.Standalone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
